---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';

export const hydrate = "load"; // Activa la funcionalidad cuando la página se carga.
---

<Layout title="Welcome to Astro.">
	<main>

		<Hero/>

	</main>
</Layout>

<style>
</style>
