---
import Countdown from '../components/utils/Countdown.astro';
import Textgradient from '../components/utils/Textgradient.astro';

// interface Props {
// 	owner: string;
// 	logo: string;
// 	href: string;
// }
// 
// const { href, owner, logo } = Astro.props;
---

<section id="home" class="home shadow-2xl">

    <div class="container max-w-full flex items-center justify-center min-h-[80vh] text-white">
        <div>
            
            <h1 class="text-8xl text-white uppercase">Be our hero <br><Textgradient>Save Termina</Textgradient></h1>

            <p class="text-pretty mt-12 text-xl drop-shadow-md w-[80%]">The Evil <Textgradient>Majora's Mask</Textgradient> have trapped an innocent child called Skullkid and now the want to destroy the Town of Termina.<br>
            Only you can save us, please dont let this happen</p>
        
            <Countdown/>
        </div>
    </div>

</section>

<style>

    .home{
        background-image:url('/img/bg2.jpg');
        background-size:cover;
    }
    
</style>